/*================ #Links and Buttons ================*/
a:not([disabled]):hover,
a:focus {
 color: var(--color-text-focus);
}

.password-powered-by a:not([disabled]):hover,
.password-powered-by a:focus {
 color: var(--color-text-focus);
 border-bottom: 1px solid var(--color-text-focus);
}

a[href^="tel"] {
 color: inherit;
}

/*================ Buttons ================*/
.btn,
.shopify-payment-button .shopify-payment-button__button--unbranded {
 -moz-user-select: none;
 -ms-user-select: none;
 -webkit-user-select: none;
 user-select: none;
 -webkit-appearance: none;
 -moz-appearance: none;
 appearance: none;
 display: inline-block;
 width: auto;
 text-decoration: none;
 text-align: center;
 vertical-align: middle;
 cursor: pointer;
 border: 1px solid transparent;
 border-radius: 2px;
 padding: 8px 15px;
 background-color: var(--color-btn-primary);
 color: var(--color-btn-primary-text);
 font-family: var(--font-stack-header);
 font-style: var(--font-style-header);
 font-weight: var(--font-weight-header);
 text-transform: uppercase;
 letter-spacing: 0.08em;
 white-space: normal;
 font-size: calc(((var(--font-size-base) - 2) / (var(--font-size-base))) * 1em);
}

@media only screen and (min-width: 750px) {

 .btn,
 .shopify-payment-button .shopify-payment-button__button--unbranded {
  padding: 10px 18px;
 }
}

.btn:not([disabled]):hover,
.shopify-payment-button .shopify-payment-button__button--unbranded:not([disabled]):hover,
.btn:focus,
.shopify-payment-button .shopify-payment-button__button--unbranded:focus {
 color: var(--color-btn-primary-text);
 background-color: var(--color-btn-primary-focus);
}

.btn .icon-arrow-right,
.shopify-payment-button .shopify-payment-button__button--unbranded .icon-arrow-right,
.btn .icon-arrow-left,
.shopify-payment-button .shopify-payment-button__button--unbranded .icon-arrow-left {
 height: 9px;
}

.btn[disabled],
.shopify-payment-button .shopify-payment-button__button--unbranded[disabled],
.btn[aria-disabled],
.shopify-payment-button .shopify-payment-button__button--unbranded[aria-disabled] {
 cursor: default;
 opacity: 0.5;
}

.btn--secondary {
 background-color: transparent;
 color: var(--color-btn-primary);
 border-color: var(--color-btn-primary);
}

.btn--secondary:not([disabled]):hover,
.btn--secondary:focus {
 background-color: transparent;
 color: var(--color-btn-primary-focus);
 border-color: var(--color-btn-primary-focus);
}

.btn--secondary-accent {
 background-color: var(--color-body);
 color: var(--color-btn-primary);
 border-color: var(--color-btn-primary);
}

.btn--secondary-accent:not([disabled]):hover,
.btn--secondary-accent:focus {
 background-color: var(--color-body);
 color: var(--color-btn-primary-focus);
 border-color: var(--color-btn-primary-focus);
}

.btn--small {
 padding: 8px 10px;
 font-size: calc(((12) / (var(--font-size-base))) * 1em);
 line-height: 1;
}

.btn--tertiary {
 background-color: transparent;
 color: var(--color-small-button-text-border);
 border-color: var(--color-small-button-text-border);
}

.btn--tertiary:not([disabled]):hover,
.btn--tertiary:focus {
 background-color: transparent;
 color: var(--color-small-button-text-border-focus);
 border-color: var(--color-small-button-text-border-focus);
}

/*================ Button variations ================*/
@media only screen and (max-width: 749px) {
 .btn--small-wide {
  padding-left: 50px;
  padding-right: 50px;
 }
}

.btn--link {
 background-color: transparent;
 border: 0;
 margin: 0;
 color: var(--color-text);
 text-align: left;
}

.btn--link:not([disabled]):hover,
.btn--link:focus {
 color: var(--color-text-focus);
 background-color: transparent;
}

.btn--link .icon {
 vertical-align: middle;
}

.btn--narrow {
 padding-left: 15px;
 padding-right: 15px;
}

.btn--has-icon-after .icon {
 margin-left: 10px;
}

.btn--has-icon-before .icon {
 margin-right: 10px;
}

/*================ Force an input/button to look like a text link ================*/
.text-link {
 display: inline;
 border: 0 none;
 background: none;
 padding: 0;
 margin: 0;
}

.text-link--accent {
 color: var(--color-btn-primary);
 border-bottom: 1px solid currentColor;
 padding-bottom: 1px;
}

.text-link--accent:not([disabled]):hover,
.text-link--accent:focus {
 color: var(--color-btn-primary-focus);
}

/*================ Return to collection/blog links ================*/
.return-link-wrapper {
 margin-top: 82.5px;
 margin-bottom: 0;
}

@media only screen and (max-width: 749px) {
 .return-link-wrapper {
  margin-top: 55px;
 }
}

.full-width-link {
 position: absolute;
 top: 0;
 right: 0;
 bottom: 0;
 left: 0;
 z-index: 2;
}