.cart-popup-wrapper {
 display: block;
 position: fixed;
 width: 100%;
 background-color: var(--color-body);
 z-index: 9999;
 border: 1px solid var(--color-border);
 transform: translateY(0%);
 transition: all 0.45s cubic-bezier(0.29, 0.63, 0.44, 1);
}

@media only screen and (min-width: 750px) {
 .cart-popup-wrapper {
   width: 23rem;
   right: 0;
 }
}

.cart-popup-wrapper--hidden {
 display: none;
 transform: translateY(-100%);
}

.cart-popup {
 padding: 0.2rem 1.5rem 1rem;
}

.cart-popup__header {
 display: flex;
 flex-direction: row;
 align-items: center;
 border-bottom: 1px solid var(--color-border);
}

.cart-popup__heading {
 flex-grow: 1;
 padding: 0.5rem 0rem;
 margin: 0;
 color: var(--color-body-text);
 line-height: 1.2em;
 letter-spacing: 0.3px;
 text-transform: uppercase;
 font-size: calc(((var(--font-size-base) - 2) / (var(--font-size-base))) * 1em);
 font-family: var(--font-stack-body);
 font-weight: var(--font-weight-body);
}

.cart-popup__close {
 padding: 0.9rem;
 margin-right: -0.9rem;
 background-color: transparent;
 border: none;
 line-height: 0;
}

.cart-popup__close .icon-close {
 width: 1rem;
 height: 1rem;
 fill: currentColor;
}

.cart-popup__close:hover,
.cart-popup__close:focus {
 color: var(--color-text-focus);
}

.cart-popup-item {
 display: flex;
 margin: 1rem 0;
}

.cart-popup-item__image-wrapper {
 position: relative;
 flex-basis: 18%;
 flex-shrink: 0;
 margin-right: 1rem;
 text-align: center;
}

.cart-popup-item__image {
 display: block;
 margin: 0 auto;
 max-height: 95px;
}

.cart-popup-item__description {
 display: flex;
 color: var(--color-body-text);
 flex-basis: 100%;
 justify-content: space-between;
 line-height: 1.2rem;
}

.cart-popup-item__title {
 color: var(--color-text);
 font-size: calc(((var(--font-size-base) + 2) / (var(--font-size-base))) * 1em);
 font-family: var(--font-stack-header);
 font-weight: var(--font-weight-header);
 margin-bottom: 0;
}

.product-details {
 margin-top: 0.25rem;
 font-size: calc(((var(--font-size-base) - 2) / (var(--font-size-base))) * 1em);
}

.product-details__item {
 margin-bottom: 0.2rem;
 line-height: 1.5;
}

.product-details__item:last-child {
 margin-bottom: 0;
}

.product-details__property-label {
 font-weight: var(--font-weight-body--bold);
}

.cart-popup-item__quantity {
 flex-basis: 30%;
 flex-shrink: 0;
 margin-left: 1rem;
 text-align: right;
 font-size: calc(((var(--font-size-base) - 2) / (var(--font-size-base))) * 1em);
}

.cart-popup__cta-link {
 width: 100%;
}

.cart-popup__dismiss {
 margin-top: 0.5rem;
 text-align: center;
}

.cart-popup__dismiss-button {
 font-size: calc(((var(--font-size-base) - 2) / (var(--font-size-base))) * 1em);
}