/*================ Module | Filters and Sort toolbar and selection ================*/
.filters-toolbar-wrapper {
 border-bottom: 1px solid var(--color-border);
 border-top: 1px solid var(--color-border);
 margin-bottom: 22px;
}

@media only screen and (min-width: 750px) {
 .filters-toolbar-wrapper {
   margin-bottom: 55px;
 }
}

.filters-toolbar {
 display: -webkit-flex;
 display: -ms-flexbox;
 display: flex;
 width: 100%;
 -ms-flex-align: center;
 -webkit-align-items: center;
 -moz-align-items: center;
 -ms-align-items: center;
 -o-align-items: center;
 align-items: center;
 -webkit-flex-wrap: wrap;
 -moz-flex-wrap: wrap;
 -ms-flex-wrap: wrap;
 flex-wrap: wrap;
}

.filters-toolbar .icon-chevron-down {
 fill: var(--color-text-field-text);
 width: calc(10em / 16);
 height: calc(10em / 16);
 right: 8px;
}

.filters-toolbar--has-filter {
 position: relative;
}

@media only screen and (max-width: 749px) {
 .filters-toolbar--has-filter {
   border-bottom: none;
 }

 .filters-toolbar--has-filter .filters-toolbar__item-child {
   flex-basis: 50%;
 }

 .filters-toolbar--has-filter .filters-toolbar__item-wrapper {
   -ms-flex-preferred-size: 100%;
   -webkit-flex-basis: 100%;
   -moz-flex-basis: 100%;
   flex-basis: 100%;
 }

 .filters-toolbar--has-filter .filters-toolbar__item--count {
   -ms-flex-preferred-size: 100%;
   -webkit-flex-basis: 100%;
   -moz-flex-basis: 100%;
   flex-basis: 100%;
   text-align: left;
 }

 .filters-toolbar--has-filter .filters-toolbar__item--count:before {
   background-color: var(--color-border);
   content: "";
   height: 1px;
   left: 0;
   position: absolute;
   top: auto;
   width: 100%;
 }
}

.filters-toolbar__item {
 min-width: 33%;
 -webkit-flex: 1 1 33%;
 -moz-flex: 1 1 33%;
 -ms-flex: 1 1 33%;
 flex: 1 1 33%;
}

@media only screen and (max-width: 749px) {
 .filters-toolbar__item:first-child .filters-toolbar__input {
   padding-left: 0;
 }
}

@media only screen and (max-width: 749px) {
 .filters-toolbar__item-child {
   flex-grow: 0;
 }
}

@media only screen and (max-width: 749px) {
 .filters-toolbar__item-child:first-child {
   margin-right: 2.5rem;
 }
}

@media only screen and (min-width: 750px) {
 .filters-toolbar__item-child:first-child {
   margin-right: 3rem;
 }
}

@media only screen and (max-width: 749px) {
 .filters-toolbar__item-child .filters-toolbar__input {
   padding-left: 0;
   padding-right: 25px;
   width: 100%;
 }
}

.filters-toolbar__item-wrapper {
 display: -webkit-flex;
 display: -ms-flexbox;
 display: flex;
 width: 100%;
 -webkit-flex: 1 1 33%;
 -moz-flex: 1 1 33%;
 -ms-flex: 1 1 33%;
 flex: 1 1 33%;
}

@media only screen and (max-width: 749px) {
 .filters-toolbar__item-wrapper {
   -webkit-justify-content: space-between;
   -ms-justify-content: space-between;
   justify-content: space-between;
 }
}

.filters-toolbar__item--count {
 min-width: 0;
 -webkit-flex: 0 1 auto;
 -moz-flex: 0 1 auto;
 -ms-flex: 0 1 auto;
 flex: 0 1 auto;
 text-align: center;
}

@media only screen and (max-width: 749px) {
 .filters-toolbar__item--count {
   -webkit-flex: 0 1 50%;
   -moz-flex: 0 1 50%;
   -ms-flex: 0 1 50%;
   flex: 0 1 50%;
   text-align: right;
 }
}

.filters-toolbar__label {
 display: inline-block;
}

@media only screen and (max-width: 749px) {
 .filters-toolbar__label {
   display: block;
   margin-bottom: 0;
   margin-top: 8px;
 }
}

.filters-toolbar__input-wrapper {
 display: inline-block;
}

.filters-toolbar__input {
 border: 0 solid transparent;
 overflow: hidden;
 text-overflow: ellipsis;
 white-space: nowrap;
 max-width: 100%;
 height: 55px;
 opacity: 1;
 position: relative;
}

.filters-toolbar__item:first-child .filters-toolbar__input {
 padding-left: 0;
}

@media only screen and (max-width: 749px) {
 .filters-toolbar__input {
   height: 46px;
 }
}

.filters-toolbar__input.hidden {
 opacity: 0;
}

.filters-toolbar__input option {
 text-overflow: ellipsis;
 overflow: hidden;
}

.filters-toolbar__product-count {
 font-size: calc(((var(--font-size-base) - 1) / (var(--font-size-base))) * 1em);
 font-style: italic;
 line-height: 55px;
 margin-bottom: 0;
 overflow: hidden;
 text-overflow: ellipsis;
 white-space: nowrap;
}

@media only screen and (max-width: 749px) {
 .filters-toolbar__product-count {
   font-size: calc(((var(--font-size-base) - 2) / (var(--font-size-base))) * 1em);
   line-height: 46px;
 }
}