/*================ Forms ================*/
form {
 margin: 0;
}

fieldset {
 border: 1px solid var(--color-border-form);
 margin: 0 0 55px;
 padding: 27.5px;
}

legend {
 border: 0;
 padding: 0;
}

button {
 cursor: pointer;
}

input[type="submit"] {
 cursor: pointer;
}

label {
 display: block;
 margin-bottom: 5px;
}

@media only screen and (max-width: 749px) {
 label {
   font-size: calc(((var(--font-size-base) - 2) / (var(--font-size-base))) * 1em);
 }
}

[type="radio"]+label,
[type="checkbox"]+label {
 display: inline-block;
 margin-bottom: 0;
}

label[for] {
 cursor: pointer;
}

input,
textarea,
select,
.disclosure__toggle {
 border: 1px solid var(--color-border-form);
 background-color: var(--color-text-field);
 color: var(--color-text-field-text);
 max-width: 100%;
 line-height: 1.2;
 border-radius: 2px;
}

input:focus,
textarea:focus,
select:focus,
.disclosure__toggle:focus {
 border-color: var(--color-border-form-darker);
}

input[disabled],
textarea[disabled],
select[disabled],
.disclosure__toggle[disabled] {
 cursor: default;
 background-color: #f4f4f4;
 border-color: #f4f4f4;
}

input.input--error::-webkit-input-placeholder,
textarea.input--error::-webkit-input-placeholder,
select.input--error::-webkit-input-placeholder,
.input--error.disclosure__toggle::-webkit-input-placeholder {
 color: #d20000;
 opacity: 0.5;
}

input.input--error::-moz-placeholder,
textarea.input--error::-moz-placeholder,
select.input--error::-moz-placeholder,
.input--error.disclosure__toggle::-moz-placeholder {
 color: #d20000;
 opacity: 0.5;
}

input.input--error:-ms-input-placeholder,
textarea.input--error:-ms-input-placeholder,
select.input--error:-ms-input-placeholder,
.input--error.disclosure__toggle:-ms-input-placeholder {
 color: #d20000;
 opacity: 0.5;
}

input.input--error::-ms-input-placeholder,
textarea.input--error::-ms-input-placeholder,
select.input--error::-ms-input-placeholder,
.input--error.disclosure__toggle::-ms-input-placeholder {
 color: #d20000;
 opacity: 1;
}

input.hidden-placeholder::-webkit-input-placeholder,
textarea.hidden-placeholder::-webkit-input-placeholder,
select.hidden-placeholder::-webkit-input-placeholder,
.hidden-placeholder.disclosure__toggle::-webkit-input-placeholder {
 color: transparent;
}

input.hidden-placeholder::-moz-placeholder,
textarea.hidden-placeholder::-moz-placeholder,
select.hidden-placeholder::-moz-placeholder,
.hidden-placeholder.disclosure__toggle::-moz-placeholder {
 color: transparent;
}

input.hidden-placeholder:-ms-input-placeholder,
textarea.hidden-placeholder:-ms-input-placeholder,
select.hidden-placeholder:-ms-input-placeholder,
.hidden-placeholder.disclosure__toggle:-ms-input-placeholder {
 color: transparent;
}

input.hidden-placeholder::-ms-input-placeholder,
textarea.hidden-placeholder::-ms-input-placeholder,
select.hidden-placeholder::-ms-input-placeholder,
.hidden-placeholder.disclosure__toggle::-ms-input-placeholder {
 opacity: 1;
}

.product-form input,
.product-form textarea,
.product-form select,
.product-form .disclosure__toggle {
 min-height: 44px;
}

textarea {
 min-height: 100px;
}

/*================ Error styles ================*/
input.input--error,
select.input--error,
.input--error.disclosure__toggle,
textarea.input--error {
 border-color: #d20000;
 background-color: #fff8f8;
 color: #d20000;
 margin-bottom: 11.66667px;
}

.input-error-message {
 display: flex;
 line-height: 1.3;
 color: var(--color-body-text);
 font-size: calc(((var(--font-size-base) - 2) / (var(--font-size-base))) * 1em);
 margin-bottom: 11.66667px;
}

@media only screen and (max-width: 749px) {
 .input-error-message {
   margin-bottom: 19.44444px;
 }
}

.input-error-message .icon {
 width: 1em;
 height: 1em;
 margin-right: calc((10 / (var(--font-size-base))) * 1em);
}


select,
.disclosure__toggle {
 -webkit-appearance: none;
 -moz-appearance: none;
 appearance: none;
 background-position: right center;
 background-image: var(--svg-select-icon);
 background-repeat: no-repeat;
 background-position: right 10px center;
 line-height: 1.2;
 padding-right: 28px;
 text-indent: 0.01px;
 text-overflow: '';
 cursor: pointer;
 padding-top: 8px;
 padding-left: 15px;
 padding-bottom: 8px;
}

@media only screen and (min-width: 750px) {

 select,
 .disclosure__toggle {
   padding-top: 10px;
   padding-left: 18px;
   padding-bottom: 10px;
 }
}

.select-group {
 position: relative;
 z-index: 2;
}

.select-group select,
.select-group .disclosure__toggle {
 background-image: none;
 background-color: transparent;
}

.select-group .icon {
 height: calc(8em / 16);
 position: absolute;
 right: 0;
 top: 50%;
 transform: translateY(-50%);
 width: calc(8em / 16);
 z-index: -1;
}

.select-label {
 font-size: calc(((12) / (var(--font-size-base))) * 1em);
 text-transform: uppercase;
}

optgroup {
 font-weight: var(--font-weight-body--bold);
}

option {
 color: var(--color-text);
 background-color: var(--color-body);
}

select::-ms-expand,
.disclosure__toggle::-ms-expand {
 display: none;
}

/*================ Form labels ================*/
.label--hidden {
 position: absolute;
 height: 0;
 width: 0;
 margin-bottom: 0;
 overflow: hidden;
 clip: rect(1px, 1px, 1px, 1px);
}

::-webkit-input-placeholder {
 color: var(--color-text-field-text);
 opacity: 0.6;
}

::-moz-placeholder {
 color: var(--color-text-field-text);
 opacity: 0.6;
}

:-ms-input-placeholder {
 color: var(--color-text-field-text);
 opacity: 0.6;
}

::-ms-input-placeholder {
 color: var(--color-text-field-text);
 opacity: 1;
}

/*================ Labels ================*/
.label--error {
 color: #d20000;
}

input,
textarea {
 padding: 8px 15px;
}

@media only screen and (min-width: 750px) {

 input,
 textarea {
   padding: 10px 18px;
 }
}

/*================ Vertical forms ================*/
.form-vertical input,
.form-vertical select,
.form-vertical .disclosure__toggle,
.form-vertical textarea {
 display: block;
 width: 100%;
 margin-bottom: 19.44444px;
}

.form-vertical input.input--error,
.form-vertical select.input--error,
.form-vertical .input--error.disclosure__toggle,
.form-vertical textarea.input--error {
 margin-bottom: 11.66667px;
}

.form-vertical [type="radio"],
.form-vertical [type="checkbox"] {
 display: inline-block;
 width: auto;
 margin-right: 5px;
}

.form-vertical [type="submit"],
.form-vertical .btn,
.form-vertical .shopify-payment-button .shopify-payment-button__button--unbranded,
.shopify-payment-button .form-vertical .shopify-payment-button__button--unbranded {
 display: inline-block;
 width: auto;
}

/*================ Single field forms ================*/
.form-single-field {
 margin: 0 auto 55px;
 max-width: 35rem;
}

.form-single-field .input--error {
 margin-bottom: 0;
}

/*================ Form feedback messages ================*/
.note,
.form-message {
 padding: 8px;
 margin: 0 0 27.5px;
 border: 1px solid var(--color-border-form);
}

@media only screen and (min-width: 750px) {

 .note,
 .form-message {
   padding: 10px;
 }
}

.form-message--success {
 border: 1px solid #1F873D;
 background-color: #f8fff9;
 color: #1F873D;
 display: block;
 width: 100%;
}

.form-message--error {
 color: #651818;
 border: 1px solid #d20000;
 background-color: #fff8f8;
 padding: 1rem 1.3rem;
 text-align: left;
 width: 100%;
}

.form-message--error li {
 list-style-type: disc;
 list-style-position: inside;
}

.form-message--error .form-message__title {
 font-size: 1.2em;
}

.form-message--error .form-message__link,
.form-message--error a {
 display: inline-block;
 text-decoration: underline;
 text-decoration-skip-ink: auto;
 color: #651818;
}

.form-message--error .form-message__link:hover,
.form-message--error .form-message__link:focus,
.form-message--error a:hover,
.form-message--error a:focus {
 text-decoration: none;
 color: #651818;
}

/*================ Input Groups ================*/
.input-group {
 display: -webkit-flex;
 display: -ms-flexbox;
 display: flex;
 width: 100%;
 -webkit-flex-wrap: wrap;
 -moz-flex-wrap: wrap;
 -ms-flex-wrap: wrap;
 flex-wrap: wrap;
 -webkit-justify-content: center;
 -ms-justify-content: center;
 justify-content: center;
}

.form-vertical .input-group {
 margin-bottom: 55px;
}

.input-group--nowrap {
 flex-wrap: nowrap;
}

.input-group--error {
 margin-bottom: 11.66667px;
}

.input-group__field,
.input-group__field input,
.input-group__btn .btn,
.input-group__btn .shopify-payment-button .shopify-payment-button__button--unbranded,
.shopify-payment-button .input-group__btn .shopify-payment-button__button--unbranded {
 min-height: 42px;
}

@media only screen and (min-width: 750px) {

 .input-group__field,
 .input-group__field input,
 .input-group__btn .btn,
 .input-group__btn .shopify-payment-button .shopify-payment-button__button--unbranded,
 .shopify-payment-button .input-group__btn .shopify-payment-button__button--unbranded {
   min-height: 46px;
 }
}

.input-group__field {
 -ms-flex-preferred-size: 15rem;
 -webkit-flex-basis: 15rem;
 -moz-flex-basis: 15rem;
 flex-basis: 15rem;
 flex-grow: 9999;
 margin-bottom: 1rem;
 border-radius: 2px 0 0 2px;
 text-align: left;
}

.input-group__field input {
 width: 100%;
}

.form-vertical .input-group__field {
 margin: 0;
}

.input-group__field--connected {
 margin-bottom: 0;
}

.input-group__field--connected input {
 border-top-right-radius: 0;
 border-bottom-right-radius: 0;
}

.input-group__btn {
 flex-grow: 1;
}

.input-group__btn .btn,
.input-group__btn .shopify-payment-button .shopify-payment-button__button--unbranded,
.shopify-payment-button .input-group__btn .shopify-payment-button__button--unbranded {
 width: 100%;
 border-radius: 0 2px 2px 0;
}