/*================ #Helper Classes ================*/
.clearfix {
 *zoom: 1;
}

.clearfix::after {
 content: '';
 display: table;
 clear: both;
}

.visually-hidden {
 position: absolute !important;
 overflow: hidden;
 clip: rect(0 0 0 0);
 height: 1px;
 width: 1px;
 margin: -1px;
 padding: 0;
 border: 0;
}

.visually-hidden--inline {
 margin: 0;
 height: 1em;
}

.visually-hidden--static {
 position: static !important;
}

.js-focus-hidden:focus {
 outline: none;
}

.no-js:not(html) {
 display: none;
}

.no-js .no-js:not(html) {
 display: block;
}

.no-js .js {
 display: none;
}

.show {
 display: block !important;
}

.hide {
 display: none !important;
}

.text-left {
 text-align: left !important;
}

.text-right {
 text-align: right !important;
}

.text-center {
 text-align: center !important;
}