/*=============== Lazy loading ===================*/
.box {
 background: no-repeat;
 background-color: #f7f7f7;
 background-size: contain;
}

.ratio-container {
 position: relative;
}

.ratio-container:after {
 content: '';
 display: block;
 height: 0;
 width: 100%;
 /* 16:9 = 56.25% = calc(9 / 16 * 100%) */
 padding-bottom: 50%;
 content: "";
}

.ratio-container>* {
 position: absolute;
 top: 0;
 left: 0;
 width: 100%;
 height: 100%;
}