.site-footer {
 margin-top: 25px;
 padding: 45px 0 55px 0;
}

@media only screen and (min-width: 750px) {
 .site-footer {
   padding-bottom: 25px;
 }
}

.site-footer h4,
.site-footer .h4 {
 margin-bottom: 12.5px;
}

@media only screen and (min-width: 750px) {

 .site-footer h4,
 .site-footer .h4 {
   min-height: calc(var(--font-size-header) * 0.7);
   margin-bottom: 10px;
 }
}

.site-footer__content {
 display: -webkit-flex;
 display: -ms-flexbox;
 display: flex;
 width: 100%;
 -ms-flex-align: start;
 -webkit-align-items: flex-start;
 -moz-align-items: flex-start;
 -ms-align-items: flex-start;
 -o-align-items: flex-start;
 align-items: flex-start;
 -webkit-flex-wrap: wrap;
 -moz-flex-wrap: wrap;
 -ms-flex-wrap: wrap;
 flex-wrap: wrap;
}

@media only screen and (max-width: 749px) {
 .site-footer__content {
   padding: 0 18px;
 }
}

@media only screen and (min-width: 750px) {
 .site-footer__content {
   -webkit-flex-wrap: nowrap;
   -moz-flex-wrap: nowrap;
   -ms-flex-wrap: nowrap;
   flex-wrap: nowrap;
 }
}

.site-footer__item {
 display: -webkit-flex;
 display: -ms-flexbox;
 display: flex;
 width: 100%;
 -webkit-flex: 1 1 100%;
 -moz-flex: 1 1 100%;
 -ms-flex: 1 1 100%;
 flex: 1 1 100%;
 margin-bottom: 55px;
}

@media only screen and (min-width: 750px) {
 .site-footer__item {
   padding: 0 15px 0 15px;
   margin-bottom: 45px;
 }
}

.site-footer__item:first-of-type {
 padding-left: 0;
}

.site-footer__item:last-of-type {
 padding-right: 0;
}

@media only screen and (max-width: 749px) {
 .site-footer__item:last-of-type {
   margin-bottom: 0;
 }
}

@media only screen and (min-width: 750px) {
 .site-footer__item--full-width {
   -webkit-flex: 1 1 100%;
   -moz-flex: 1 1 100%;
   -ms-flex: 1 1 100%;
   flex: 1 1 100%;
 }

 .site-footer__item--one-half {
   -webkit-flex: 1 1 50%;
   -moz-flex: 1 1 50%;
   -ms-flex: 1 1 50%;
   flex: 1 1 50%;
 }

 .site-footer__item--one-third {
   -webkit-flex: 1 1 33%;
   -moz-flex: 1 1 33%;
   -ms-flex: 1 1 33%;
   flex: 1 1 33%;
 }

 .site-footer__item--one-quarter {
   -webkit-flex: 1 1 25%;
   -moz-flex: 1 1 25%;
   -ms-flex: 1 1 25%;
   flex: 1 1 25%;
 }

 .site-footer__item--one-fifth {
   -webkit-flex: 1 1 20%;
   -moz-flex: 1 1 20%;
   -ms-flex: 1 1 20%;
   flex: 1 1 20%;
 }

 .site-footer-newsletter__one-half {
   -webkit-flex: 1 1 50%;
   -moz-flex: 1 1 50%;
   -ms-flex: 1 1 50%;
   flex: 1 1 50%;
 }
}

@media only screen and (min-width: 750px) {
 .site-footer__item--center {
   -webkit-justify-content: center;
   -ms-justify-content: center;
   justify-content: center;
 }

 .site-footer__item--center>* {
   text-align: center;
 }
}

.site-footer__item-inner--newsletter {
 width: 100%;
}

.site-footer__item-inner--newsletter .newsletter__submit {
 margin-top: 5px;
}

.site-footer__item-inner--newsletter .newsletter__input {
 margin: 5px 0 0 0;
 width: 100%;
}

@media only screen and (min-width: 750px) {
 .site-footer__item--full-width .site-footer__item-inner--newsletter {
   max-width: 50%;
 }
}

@media only screen and (min-width: 750px) {
 .site-footer__centered--single-block {
   width: 75%;
   margin: 0 auto;
 }
}

.site-footer__hr {
 margin: 55px 0 30px 0;
}

@media only screen and (min-width: 750px) {
 .site-footer__hr {
   margin: 45px 0 20px 0;
 }
}

@media only screen and (max-width: 749px) {
 .site-footer__linklist.list--inline>li {
   display: block;
 }
}

.site-footer__linklist-item {
 display: block;
 padding: 10px 0;
}

@media only screen and (min-width: 750px) {
 .site-footer__linklist-item {
   padding: 0 15px 5px 0;
 }
}

.site-footer__linklist-item:last-of-type {
 padding-right: 0;
}

.site-footer__icon-list {
 padding-bottom: 30px;
}

@media only screen and (min-width: 750px) {
 .site-footer__icon-list {
   padding-bottom: 30px;
 }
}

@media only screen and (min-width: 750px) {
 .site-footer__social-icons {
   padding-top: 2rem;
   text-align: right;
 }
}

.social-icons__item {
 padding: 0 15px;
}

@media only screen and (min-width: 750px) {
 .social-icons__item:last-of-type {
   padding-right: 0;
 }
}

.social-icons__link {
 display: block;
}

.site-footer__subwrapper {
 margin-top: 35px;
}

@media only screen and (min-width: 750px) {
 .site-footer-item-align-right {
   text-align: right;
 }
}

.site-footer__copyright-content {
 font-size: calc(((var(--font-size-base) - 3) / (var(--font-size-base))) * 1em);
}

.site-footer__payment-icons .payment-icon {
 margin-bottom: 5px;
 margin-left: 5px;
}

.site-footer__payment-icons .payment-icon:first-child {
 margin-left: 0;
}

.site-footer-item-center-vertically {
 padding-top: 7.5px;
}

@media only screen and (min-width: 750px) {
 .site-footer-item-tall {
   margin-bottom: 15px;
   height: 46px;
 }

 .site-footer-item-tall .site-footer__icon-list {
   padding-bottom: 0;
 }
}

/* general info */
.site-footer__general-info {
  background-color: #f5f6f8;
}

.site-footer__gi-wrapper {
  display: flex;
  justify-content: space-between;
  padding: 0.5rem 0;
}

.site-footer__gi-item {
  display: flex;
  align-items: center;
}

.site-footer__gi-item img {
  max-width: 75px;
}

.site-footer__gi-item p {
  font-size: 1.25rem;
}

/* site footer info */
.site-footer__content {
  margin-top: 3rem;
}
.site-footer__item {
  margin: 0;
  padding: 0;
}
.site-header__logo-image {
  padding: 0;
}
.site-footer__address {
  padding: 0.5rem 0;
}
.site-footer p {
  margin: 0;
}
.site-footer__icon-list {
  text-align: left;
  display: flex;
  gap: 1rem;
  align-items: center;
}
