/*================ Cart page ================*/
.cart {
 color: var(--color-body-text);
}

.cart th,
.cart td {
 border: 0;
}

.cart td {
 padding-top: 22px;
 padding-bottom: 22px;
}

@media only screen and (min-width: 750px) {
 .cart td {
  padding-left: 22px;
  padding-right: 22px;
 }
}

.cart th {
 font-family: var(--font-stack-body);
 font-weight: var(--font-weight-body);
 font-size: calc(((var(--font-size-base) - 2) / (var(--font-size-base))) * 1em);
 text-transform: uppercase;
 padding: 27.5px 22px;
}

@media only screen and (max-width: 749px) {

 .cart td:nth-child(3),
 .cart th:nth-child(2) {
  padding-left: 0;
  padding-right: 0;
 }
}

.cart td:first-child,
.cart th:first-child {
 padding-left: 0;
}

.cart td:first-child.cart__removed-product,
.cart th:first-child.cart__removed-product {
 padding: 1rem 0 1.2rem 0.5rem;
}

.cart td:last-child,
.cart th:last-child {
 padding-right: 0;
}

.cart dd {
 margin-left: 0;
}

.cart__meta {
 width: 50%;
}

@media only screen and (min-width: 750px) {
 .cart__meta {
  width: 40%;
 }
}

@media only screen and (min-width: 990px) {
 .cart__meta {
  width: 45%;
 }
}

.cart__product-information {
 display: flex;
}

.cart__image-wrapper {
 padding-right: 1.5rem;
 flex: 5rem 0 0;
}

@media only screen and (min-width: 750px) {
 .cart__image-wrapper {
  padding-right: 2.5rem;
  flex: 8rem 0 0;
 }
}

@media only screen and (min-width: 990px) {
 .cart__image-wrapper {
  padding-right: 3rem;
  flex: 9rem 0 0;
 }
}

.product-details {
 padding: calc((5 / (var(--font-size-base))) * 1em) 0 0;
 font-size: calc(((var(--font-size-base) - 2) / (var(--font-size-base))) * 1em);
}

.product-details.hide+.cart__remove {
 margin-top: 0;
}

.product-details__item {
 margin-bottom: 0.15em;
}

.product-details__item--variant-option:not(.hide)+.product-details__item--property {
 margin-top: 0.8rem;
}

.product-details__item-label {
 font-weight: var(--font-weight-body--bold);
}

.cart__qty {
 margin-top: calc((15 / (var(--font-size-base))) * 1em);
}

@media only screen and (min-width: 750px) {
 .cart__qty {
  margin-top: 0;
 }
}

.cart__qty-label {
 position: absolute !important;
 overflow: hidden;
 clip: rect(0 0 0 0);
 height: 1px;
 width: 1px;
 margin: -1px;
 padding: 0;
 border: 0;
}

.cart__qty-input {
 text-align: center;
 width: 60px;
 padding-left: calc((5 / (var(--font-size-base))) * 1em);
 padding-right: calc((5 / (var(--font-size-base))) * 1em);
}

.cart__qty-error-message-wrapper,
.cart__error-message-wrapper {
 line-height: 1.2;
}

.cart__qty-error-message-wrapper .icon-error,
.cart__error-message-wrapper .icon-error {
 margin-top: 0;
}

.cart__qty-error-message-wrapper--desktop {
 display: none;
}

@media only screen and (min-width: 750px) {
 .cart__qty-error-message-wrapper--desktop {
  display: block;
 }
}

.cart__qty-error-message-wrapper--mobile {
 display: block;
}

@media only screen and (min-width: 750px) {
 .cart__qty-error-message-wrapper--mobile {
  display: none;
 }
}

.cart__qty-error-message,
.cart__error-message {
 font-size: calc(((var(--font-size-base) - 2) / (var(--font-size-base))) * 1em);
 color: var(--color-body-text);
 vertical-align: middle;
}

.cart__error-message-wrapper {
 margin-top: 1rem;
}

@media only screen and (min-width: 750px) {
 .cart__error-message-wrapper {
  margin-top: 0.8rem;
 }
}

.cart__row {
 border-bottom: 1px solid var(--color-border);
}

.cart__row p {
 margin-bottom: 0;
}

.cart__row p+p {
 margin-top: 10px;
}

.cart__row td {
 vertical-align: top;
}

@media only screen and (min-width: 750px) {
 .cart__row td {
  vertical-align: middle;
 }
}

.cart__row--heading {
 color: var(--color-text);
 letter-spacing: 0.3px;
}

.cart__removed-product-details {
 font-weight: var(--font-weight-body--bold);
}

.cart-subtotal__title {
 font-size: calc(((var(--font-size-base) + 2) / (var(--font-size-base))) * 1em);
}

.cart-subtotal__price {
 padding-left: 27.5px;
}

@media only screen and (min-width: 750px) {
 .cart-subtotal__price {
  padding-left: 55px;
  min-width: 150px;
  display: inline-block;
 }
}

.cart__footer {
 padding-top: 17.5px;
}

.cart__buttons-container {
 display: flex;
 flex-direction: column;
 max-width: 20rem;
 margin: 0 auto;
}

@media only screen and (min-width: 750px) {
 .cart__buttons-container {
  display: block;
  max-width: none;
 }
}

.cart__submit-controls {
 display: -webkit-flex;
 display: -ms-flexbox;
 display: flex;
 width: 100%;
 -webkit-flex-direction: column;
 -moz-flex-direction: column;
 -ms-flex-direction: column;
 flex-direction: column;
}

@media only screen and (min-width: 750px) {
 .cart__submit-controls {
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-align: start;
  -webkit-align-items: flex-start;
  -moz-align-items: flex-start;
  -ms-align-items: flex-start;
  -o-align-items: flex-start;
  align-items: flex-start;
  -webkit-justify-content: flex-end;
  -ms-justify-content: flex-end;
  justify-content: flex-end;
 }
}

.cart__submit {
 margin-bottom: 0;
 min-height: 44px;
 width: 100%;
}

.cart__submit+.cart__submit {
 margin-top: 10px;
 margin-left: 0;
}

@media only screen and (min-width: 750px) {
 .cart__submit {
  min-height: auto;
  width: auto;
 }

 .cart__submit+.cart__submit {
  margin-top: 0;
  margin-left: 10px;
 }
}

.cart__shipping {
 font-size: calc(((var(--font-size-base) - 2) / (var(--font-size-base))) * 1em);
 padding: 10px 0 20px;
 margin-bottom: 25px;
}

.cart-note__label,
.cart-note__input {
 display: block;
}

@media only screen and (max-width: 749px) {

 .cart-note__label,
 .cart-note__input {
  margin: 0 auto;
 }
}

.cart-note__label {
 margin-bottom: 15px;
}

.cart-note__input {
 min-height: 50px;
 width: 100%;
}

@media only screen and (max-width: 749px) {
 .cart-note__input {
  margin-bottom: 40px;
 }
}

.cart__product-title {
 border-bottom: none;
 color: var(--color-body-text);
}

.cart__product-title:not([disabled]):hover,
.cart__product-title:focus {
 color: var(--color-body-text);
 border-bottom: 1px solid currentColor;
}

.cart__image {
 max-height: 95px;
 display: block;
 margin: 0 auto;
}

.cart__remove {
 margin-top: calc((8 / (var(--font-size-base))) * 1em);
}

.cart__price {
 text-align: right;
 padding-right: 0;
 font-size: calc(((var(--font-size-base) - 1) / (var(--font-size-base))) * 1em);
 width: 50%;
}

.cart__price dl {
 margin: 0;
}

@media only screen and (min-width: 750px) {
 .cart__price {
  width: 25%;
 }
}

.cart__quantity-td {
 width: 20%;
}

.cart__final-price {
 width: 15%;
}

@media only screen and (max-width: 749px) {
 .cart-message {
  padding-top: 20px;
 }

 .cart__qty-label {
  position: inherit !important;
  overflow: auto;
  clip: auto;
  width: auto;
  height: auto;
  margin: 0;
  display: inline-block;
  vertical-align: middle;
  font-size: calc(((13) / (var(--font-size-base))) * 1em);
  margin-right: 5px;
 }
}

.cart--no-cookies .cart__continue-btn {
 display: none;
}

.cart--no-cookies .cart--empty-message {
 display: none;
}

.cookie-message {
 display: none;
 padding-bottom: 25px;
}

.cart--no-cookies .cookie-message {
 display: block;
}

.additional-checkout-buttons {
 margin-top: 1rem;
}

.additional-checkout-buttons input[type="image"] {
 padding: 0;
 border: 0;
 background: transparent;
}

[data-shopify-buttoncontainer] {
 justify-content: flex-end;
}

.myaccount {
 display: flex;
 flex-wrap: wrap;
}

@media only screen and (min-width: 990px) {
 .myaccount__order-history {
  -webkit-flex: 1 0 66.66667%;
  -moz-flex: 1 0 66.66667%;
  -ms-flex: 1 0 66.66667%;
  flex: 1 0 66.66667%;
 }
}

@media only screen and (min-width: 990px) {
 .myaccount__account-details {
  -webkit-flex: 1 0 33.33333%;
  -moz-flex: 1 0 33.33333%;
  -ms-flex: 1 0 33.33333%;
  flex: 1 0 33.33333%;
 }
}

.order-table {
 border: 1px solid var(--color-border);
}

.order-table a {
 border-bottom: 1px solid currentColor;
}

.order-table th,
.order-table td {
 border: 0;
}

.order-table tbody th,
.order-table tfoot th {
 font-weight: normal;
 text-transform: none;
 letter-spacing: 0;
}

.order-table tbody tr+tr {
 border-top: 1px solid var(--color-border);
}

.order-table thead {
 border-bottom: 1px solid var(--color-body-text);
}

.order-table tfoot {
 border-top: 1px solid var(--color-body-text);
}

.order-table tfoot tr:first-child th,
.order-table tfoot tr:first-child td {
 padding-top: 1.25em;
}

.order-table tfoot tr:nth-last-child(2) th,
.order-table tfoot tr:nth-last-child(2) td {
 padding-bottom: 1.25em;
}

.order-table tfoot tr:last-child th,
.order-table tfoot tr:last-child td {
 border-top: 1px solid var(--color-body-text);
 font-weight: var(--font-weight-body--bold);
 padding-top: 1.25em;
 padding-bottom: 1.25em;
 text-transform: uppercase;
}

@media only screen and (min-width: 750px) {
 .order-table thead th {
  text-transform: uppercase;
  padding-top: 1.25em;
  padding-bottom: 1.25em;
 }

 .order-table tbody tr th,
 .order-table tbody tr td {
  padding-top: 1.25em;
  padding-bottom: 1.25em;
 }

 .order-table tfoot tr td,
 .order-table tfoot tr th {
  vertical-align: bottom;
 }
}

@media only screen and (max-width: 749px) {
 .order-table {
  border: 0;
 }

 .order-table thead {
  display: none;
 }

 .order-table th,
 .order-table td {
  float: left;
  clear: left;
  width: 100%;
  text-align: right;
  padding: 0.5rem 0;
  border: 0;
  margin: 0;
 }

 .order-table th::before,
 .order-table td::before {
  content: attr(data-label);
  float: left;
  text-align: left;
  padding-right: 2em;
  max-width: 80%;
 }

 .order-table tbody tr th:first-child {
  padding-top: 1.25em;
 }

 .order-table tbody tr td:last-child {
  padding-bottom: 1.25em;
 }

 .order-table tbody th::before,
 .order-table tbody td::before {
  font-weight: var(--font-weight-body--bold);
 }
}

@media only screen and (max-width: 749px) {
 .order-table__product {
  display: flex;
  justify-content: space-between;
 }
}

.item-props {
 margin-top: 5px;
 display: flex;
 flex-direction: column;
}

.item-props__property {
 font-size: calc(((var(--font-size-base) - 2) / (var(--font-size-base))) * 1em);
}

.order-discount {
 color: var(--color-sale-text);
 display: block;
 line-height: 1.2em;
}

.order-discount .icon-saletag {
 fill: currentColor;
 width: 1em;
 height: 1em;
 margin-right: 0.4em;
}

.order-discount--title {
 text-transform: uppercase;
 word-break: break-word;
 padding-right: 1em;
}

.order-discount--list {
 margin: 0.8em 0 0 1.3em;
 list-style: none;
 padding: 0;
}

.order-discount__item {
 text-indent: -1.3em;
}

.order-discount__item+.order-discount__item {
 margin-top: 0.6em;
}

@media only screen and (max-width: 749px) {
 .order-discount-wrapper {
  display: flex;
  justify-content: space-between;
  width: 100%;
 }
}

.order-discount-card-wrapper {
 display: flex;
 justify-content: center;
}

@media only screen and (min-width: 750px) {
 .order-discount-card-wrapper {
  justify-content: flex-end;
 }
}

.order-discount--cart {
 font-size: calc(((var(--font-size-base) - 1) / (var(--font-size-base))) * 1em);
 padding-right: 0;
}

@media only screen and (min-width: 750px) {
 .order-discount--cart {
  font-size: calc(((var(--font-size-base) - 2) / (var(--font-size-base))) * 1em);
 }
}

.order-discount--cart-total {
 padding-left: 27.5px;
}

@media only screen and (min-width: 750px) {
 .order-discount--cart-total {
  padding-left: 55px;
  min-width: 150px;
 }
}