/*================ Add to cart form ================*/
.product-single {
  overflow-anchor: none;
}

.product-single__title {
  margin-bottom: 0.5rem;
  text-align: left;
}

.product__price,
.featured-product__price {
  font-size: 1.25em;
  margin-top: 2rem;
}

.product__policies {
  margin: 0.4rem 0 1rem 0;
  font-size: 0.75rem;
  text-align: left;
}

.product-form {
  width: auto;
  padding-top: 2rem;
}

.product-form__controls-group {
  display: flex;
  flex-wrap: wrap;
}

.product-form__controls-group--submit {
  margin-top: 0px;
}

.product-form__controls-group~.product-form__controls-group--submit {
  margin-top: 15px;
}

.product-form__item {
  flex-grow: 0;
  flex-basis: 100%;
  margin-bottom: 10px;
  padding: 0;
  text-align: left;
}

.product-form__item label {
  display: block;
}

.product-form__item--submit {
  -webkit-flex: 1 1 300px;
  -moz-flex: 1 1 300px;
  -ms-flex: 1 1 300px;
  flex: 1 1 300px;
}

.product-form__item--no-variants {
  max-width: 400px;
}

.product-form__item--payment-button {
  -ms-flex-preferred-size: 100%;
  -webkit-flex-basis: 100%;
  -moz-flex-basis: 100%;
  flex-basis: 100%;
}


.product-form__item--payment-button.product-form__item--no-variants {
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-align: stretch;
  -webkit-align-items: stretch;
  -moz-align-items: stretch;
  -ms-align-items: stretch;
  -o-align-items: stretch;
  align-items: stretch;
}

.product-form--variant-sold-out .shopify-payment-button {
  display: none;
}

.product-form--payment-button-no-variants {
  max-width: 25rem;
}

.product-form__variants {
  display: none;
}

.no-js .product-form__variants {
  display: block;
}

.grid-view-item .jdgm-prev-badge__stars .jdgm-star {
  font-size: 10px;
}

.product-form__input {
  display: block;
  width: 100%;
}

.product-form__input.input--error {
  margin-bottom: 0;
}

.product-form__input--quantity {
  max-width: 5rem;
}

.product-form__error-message-wrapper {
  display: flex;
  flex-basis: 100%;
  padding: 0.5rem 0;
  margin: 0 calc((5 / (var(--font-size-base))) * 1em) 20px;
}

.product-form__controls-group~.product-form__error-message-wrapper {
  margin-bottom: 0;
}

.product-form__error-message-wrapper--has-payment-button {
  padding: 0.5rem 0;
}

.product-form__error-message-wrapper--hidden {
  display: none;
}

.product-form__error-message {
  margin-left: 0.5rem;
  font-size: calc(((var(--font-size-base) - 2) / (var(--font-size-base))) * 1em);
  line-height: 1.2;
  color: var(--color-body-text);
}

.product-form__cart-submit,
.shopify-payment-button .shopify-payment-button__button--unbranded {
  display: block;
  width: 100%;
  line-height: 1.4;
  padding-left: 5px;
  padding-right: 5px;
  white-space: normal;
  margin-top: 0;
  margin-bottom: 10px;
  min-height: 44px;
}

.product-single--small-media .product-form__cart-submit,
.product-single--small-media .shopify-payment-button .shopify-payment-button__button--unbranded,
.shopify-payment-button .product-single--small-media .shopify-payment-button__button--unbranded,
.product-single--full-media .product-form__cart-submit,
.product-single--full-media .shopify-payment-button .shopify-payment-button__button--unbranded,
.shopify-payment-button .product-single--full-media .shopify-payment-button__button--unbranded {
  -webkit-flex: 50%;
  -moz-flex: 50%;
  -ms-flex: 50%;
  flex: 50%;
  margin-right: 10px;
}

.product-single--small-media .shopify-payment-button,
.product-single--full-media .shopify-payment-button {
  -webkit-flex: 50%;
  -moz-flex: 50%;
  -ms-flex: 50%;
  flex: 50%;
}

.shopify-payment-button .shopify-payment-button__button--unbranded:hover {
  background-color: var(--color-btn-primary-focus) !important;
}

.shopify-payment-button .shopify-payment-button__button--branded {
  border-radius: 2px;
  overflow: hidden;
}

.shopify-payment-button .shopify-payment-button__more-options {
  margin: 16px 0 10px;
  font-size: calc(((var(--font-size-base) - 2) / (var(--font-size-base))) * 1em);
  text-decoration: underline;
}

.shopify-payment-button .shopify-payment-button__more-options:hover,
.shopify-payment-button .shopify-payment-button__more-options:focus {
  opacity: 0.6;
}

.product-single__description {
  margin-top: 30px;
}

.product__quantity-error .icon {
  margin-right: 1rem;
}

/*================ Product Images ================*/
.product-single__thumbnail {
  display: block;
  margin: -2px 0 8px;
  min-height: 44px;
  position: relative;
  border: 2px solid transparent;
}

.product-single__thumbnail:not([disabled]):not(.active-thumb):hover {
  opacity: 0.8;
}

.product-single__thumbnail.active-thumb {
  border-color: var(--color-text);
}

.product-single__thumbnail-image {
  max-width: 100%;
  display: block;
  margin: 0 auto;
  padding: 2px;
}

.product-single__thumbnail-badge {
  width: 22px;
  height: 22px;
  position: absolute;
  right: 6px;
  top: 6px;
  pointer-events: none;
}

.product-single__thumbnail-badge .icon {
  fill: var(--color-bg);
  width: 100%;
  height: 100%;
  vertical-align: baseline;
}

.product-single__thumbnail-badge .icon-3d-badge-full-color-outline,
.product-single__thumbnail-badge .icon-video-badge-full-color-outline {
  stroke: rgba(var(--color-text-rgb), 0.05);
}

.product-single__thumbnail-badge .icon-3d-badge-full-color-element,
.product-single__thumbnail-badge .icon-video-badge-full-color-element {
  fill: var(--color-text);
}

.product-featured-media {
  display: block;
  margin: 0 auto;
  position: absolute;
  top: 4px;
  left: 4px;
  width: calc(100% - 8px);
}

.no-js .product-featured-media {
  position: relative;
}

.zoomImg {
  background-color: var(--color-body);
}

.product-single__media-group--full {
  margin-bottom: 30px;
}

.product-single__media-wrapper {
  margin: 0 auto;
  width: 100%;
}

.product-single__media {
  margin: 0 auto;
  min-height: 1px;
  width: 100%;
  height: 100%;
  position: relative;
}

.product-single__media iframe,
.product-single__media model-viewer,
.product-single__media .shopify-model-viewer-ui,
.product-single__media img,
.product-single__media>video,
.product-single__media .plyr,
.product-single__media .media-item {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  max-width: 100%;
}

.product-single__media iframe,
.product-single__media .media-video,
.product-single__media model-viewer,
.product-single__media .shopify-model-viewer-ui,
.product-single__media .media-item,
.product-single__media .plyr,
.product-single__media .plyr__video-wrapper {
  height: 100%;
}

.product-single__media--video {
  background-color: var(--color-video-bg);
}

.product-single__view-in-space {
  background-color: rgba(var(--color-text-rgb), 0.08);
  border: none;
  width: 100%;
  min-height: 44px;
  padding-top: 10px;
  padding-bottom: 10px;
  display: block;
  font-size: calc(((var(--font-size-base)) / (var(--font-size-base))) * 1em);
  color: var(--color-text);
}

.product-single__view-in-space[data-shopify-xr-hidden] {
  visibility: hidden;
}

.product-single__view-in-space:hover .product-single__view-in-space-text,
.product-single__view-in-space:focus .product-single__view-in-space-text {
  border-bottom-color: var(--color-text);
}

.product-single__view-in-space svg.icon {
  height: calc((25 / (var(--font-size-base))) * 1em);
  width: calc((25 / (var(--font-size-base))) * 1em);
  margin-top: -3px;
  margin-right: 2.43px;
  fill: transparent;
}

.product-single__view-in-space svg.icon .icon-3d-badge-full-color-outline {
  stroke: none;
}

.product-single__view-in-space svg.icon .icon-3d-badge-full-color-element {
  fill: var(--color-text);
  opacity: 1;
}

.product-single__view-in-space-text {
  border-bottom: 1px solid transparent;
}

.product-single__thumbnails {
  display: flex;
  flex-wrap: wrap;
  margin-top: 15px;
  margin-left: -9px;
  margin-right: -9px;
}

.product-single__thumbnails-item {
  flex: 0 0 20%;
  padding-left: 5px;
}

/* customization */
.product-template__container .product-single {
  margin: 0;
}

.product-template__container .grid__item {
  padding: 0;
  /* width: unset !important; */
}

.product-template__container .product-single__media-wrapper {
  /* max-width: unset !important; */
  margin: unset !important;
}

.product-template__container img[data-image-zoom-target] {
  display: none;
}

/* slider */
img[data-image-zoom-target] {
  display: none !important;
}

.swiper-button-prev:after,
.swiper-rtl .swiper-button-next:after {
  content: "prev" !important;
}

.swiper-button-next:after,
.swiper-rtl .swiper-button-prev:after {
  content: "next" !important;
}

.product-gallery {
  display: flex;
  width: 100%;
  max-width: 620px;
  margin: 40px auto;
}

.gallery-slider {
  width: 100%;
  height: auto;
  margin: 0 0 10px 0;
  overflow: hidden;
  position: relative;
}

.gallery-slider .swiper-slide {
  width: auto;
  /* height: 400px; */
}

.gallery-slider .swiper-slide img {
  display: block;
  width: 100%;
  max-width: 100%;
  height: auto;
  margin: 0 auto;
}

.gallery-thumbs {
  width: 100%;
  padding: 0;
  overflow: hidden;
  max-width: 110px;
  height: 100%;
  max-height: 720px;
}

.gallery-thumbs .swiper-wrapper {
  flex-direction: column;
}

.gallery-thumbs .swiper-slide {
  width: 100% !important;
  text-align: center;
  overflow: hidden;
  opacity: 0.1;
}

/* .gallery-thumbs .swiper-slide-active, */
.gallery-thumbs .swiper-slide-thumb-active {
  opacity: 1;
}

.gallery-thumbs .swiper-slide img {
  width: 100%;
  height: auto;
}

@media only screen and (max-width: 749px) {
  .product-single__media-group {
    margin-bottom: 30px;
    margin-top: 60px;
  }

  .product-single__media--has-thumbnails {
    margin-bottom: 30px;
  }

  .template-product .main-content {
    padding-top: 22px;
  }

  .product-single__media-group {
    position: relative;
  }

  .thumbnails-wrapper {
    position: relative;
    top: 10px;
    text-align: center;
    margin: 0 2px 30px 2px;
  }

  .thumbnails-slider__btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .thumbnails-slider__btn .icon {
    height: 14px;
    width: 14px;
  }

  .thumbnails-slider__prev {
    left: -15px;
  }

  .thumbnails-slider__next {
    right: -15px;
  }

  .product-single__thumbnail {
    margin: 0 auto;
  }

  .product-single__thumbnails {
    margin-top: 0;
    justify-content: center;
  }

  .slider-active .product-single__thumbnails {
    display: block;
    margin: 0 auto;
    max-width: 75%;
    overflow: hidden;
  }

  .product-single__thumbnails-slider-track {
    position: relative;
    left: 0;
    top: 0;
    display: block;
  }

  .product-single__thumbnails-slider-track:before,
  .product-single__thumbnails-slider-track:after {
    content: "";
    display: table;
  }

  .product-single__thumbnails-slider-track:after {
    clear: both;
  }

  .product-single__thumbnails-item.slick-slide {
    padding-bottom: 10px;
    padding-left: 2.5px;
    padding-right: 2.5px;
    vertical-align: middle;
  }

  .thumbnails-slider--active .product-single__thumbnails-item.slick-slide {
    padding-top: 5px;
    padding-bottom: 5px;
  }

  .product-single__thumbnails-item-slide {
    display: block;
    float: left;
    height: 100%;
    min-height: 1px;
    padding: 5px 2.5px;
  }
}

@media only screen and (min-width: 750px) {
  .product-form__cart-submit--small {
    max-width: 300px;
  }

  .product-single__thumbnail-badge {
    width: 26px;
    height: 26px;
  }

  .product-single__view-in-space[data-shopify-xr-hidden] {
    display: none;
  }

  .product-single__thumbnails-slider-track {
    display: flex;
    flex-wrap: wrap;
  }

  .product-single__thumbnails-item {
    padding-left: 5px;
    padding-right: 5px;
  }

  .product-single__thumbnails-item--small {
    flex: 0 0 50%;
  }

  .product-single__thumbnails-item--medium {
    flex: 0 0 33.33333%;
  }

  .product-single__thumbnails-item--large {
    flex: 0 0 25%;
  }

  .product-single__thumbnails-item--full {
    flex: 0 0 20%;
  }
}

@media only screen and (min-width: 990px) {
  .product-form__item {
    flex-basis: 50%;
    padding: 0 5px;
  }

  .product-single--large-image .product-form__item {
    flex-basis: 100%;
  }

  .product-single--small-media .product-form__item--payment-button,
  .product-single--full-media .product-form__item--payment-button {
    display: inline-flex;
    -ms-flex-align: start;
    -webkit-align-items: flex-start;
    -moz-align-items: flex-start;
    -ms-align-items: flex-start;
    -o-align-items: flex-start;
    align-items: flex-start;
  }

  .product-single__thumbnails-item--small {
    flex: 0 0 33.33333%;
  }

  .product-single__thumbnails-item--medium {
    flex: 0 0 25%;
  }

  .product-single__thumbnails-item--large {
    flex: 0 0 20%;
  }

  .product-single__thumbnails-item--full {
    flex: 0 0 12.5%;
  }
}